@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --velvet-blue: hsl(245, 78%, 64%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

html {
  font-size: 15px;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  background-image: url('images/pattern-background-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--pale-blue);
  /* centering main */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 370px;
  border-radius: 20px;
}

.card img {
  border-radius: 20px 20px 0 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

h1 {
  color: var(--dark-blue);
  margin-top: 20px;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

p {
  color: var(--desaturated-blue);
  text-align: center;
  line-height: 25px;
}

.plan {
  background-color: var(--very-pale-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
}

.plan a {
  font-weight: 700;
  color: var(--bright-blue);
}

.plan a:hover {
  text-decoration: none;
  color: var(--velvet-blue);
}

h2 {
  font-weight: 900;
  color: var(--dark-blue);
}

.left-plan {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left-plan img {
  width: 40px;
}

button {
  width: 90%;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 900;
}

.proceed {
  color: white;
  background-color: var(--bright-blue);
  box-shadow: 0 8px 8px -4px var(--bright-blue);
}

.proceed:hover {
  background-color: var(--velvet-blue);
  box-shadow: 0 8px 8px -4px var(--velvet-blue);
}

.cancel {
  background-color: white;
  color: var(--desaturated-blue);
}

.cancel:hover {
  color: var(--dark-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}